@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: rgb(7, 7, 7);
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover:  #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}


body {
    display: flex; 
    flex-direction: column;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 10% 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__imagem {
    width: 38%;

}

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__conteudo__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__conteudo__links__botao {
    display: flex;
    justify-content: center;
    gap: 2%;
    color:var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria); 
    width: 65%;
    text-align: center;
    border-radius: 18px;
    font-size:1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__links__botao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__conteudo__links__botao__logo {
    height: 28px;
    width: 28px;
}

.rodape{
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    color:var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho__menu {
    display: flex;
    gap: 75px;
}

.cabecalho__menu__link {
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600px;
    text-decoration: none;
}

@media (min-width: 480px) and (max-width:768px) {
    .apresentacao__conteudo__titulo {
        font-size: 2rem;
        font-family: var(--fonte-primaria);
    }
    
    .apresentacao__conteudo__texto {
        font-size: 1rem;
        font-family: var(--fonte-secundaria);
    }

    .rodape {
        width: 96%;
    }
}

@media (max-width:1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content:center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 0% 5%;
    }

    .apresentacao__conteudo {
        width: auto;
        height: auto;
        padding: 10% 0% 20% 0%;
        gap: 10px;
    }

    .apresentacao__conteudo__imagem {
        width: 50%;
    }
}
